
.tempcolorchanger {
  background-color: rgb(34, 112, 190);
  border: none;
  color: white;
  border-radius: 14px;
  height: 1.5rem;
  transform: translate(1rem, 1rem);

  transition: opacity 500ms ease;
}

.tempcolorchanger:hover {
  opacity: 90%;
}

.header {
  text-align: center;
  font-family: "lato";
  padding-bottom: 2rem;
}


.introductioncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.introductionbutton {
  margin: 0 auto;
  margin-bottom: 1rem;
  border: none; 
  border-radius: 10px;
  width: 6rem;
  height: 1.75rem
}

.introductionheader {
  max-width: 28ch;
}

.introductionmain {
  max-width: 55ch;
}

.introductionbutton{animation: 2.5s ease-in 0s FadeIn;}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: #f8f6f6 !important;
  }
}


@media (max-width: 600px) {
  .introductioncontainer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .introductionbutton {
    margin-bottom: 1rem;
  }

  .header {
    padding-bottom: .75rem;
  }

  .card {
    width: 90% !important;
    margin: 1rem
  }
}

.cardcontainer {
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.card {
  width: 45%;
  background-color: rgb(35, 34, 34);
  border-radius: 15px;
  cursor: pointer;

  transition: all 500ms;
}

.card:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.cardheader {
  position: relative;
  text-align: center;
  z-index: 99;
}

.cardinstruction {
  text-align: center;
  margin: 0;
  margin-top: -.5rem;
}

.secondcardscontainer {
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.image {
  border-radius: 15px;
  /*Find a way to center the image horizontally*/
}



.navigationcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  margin-top: 2rem;
  transform: translateX(-1rem);
  padding-bottom: 1rem;
}

.navigationpanel {
  font-size: 5rem;
}

.navigationbutton {
  border: none;
  border-radius: 10px;
  width: 7.5rem;
  height: 1.75rem
}

.showresultsbutton {
  border: none;
  border-radius: 10px;
  width: 8rem;
  height: 1.75rem;
  text-align: center;
  display: none;
}

.traveltimeform {
  margin: 1rem;
}

.submitbutton {
  margin: 1rem;
  border: none;
  border-radius: 10px;
  width: 7.5rem;
  height: 1.75rem;

}

.photoformcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.formimage {
  border-radius: 15px;
  padding: 1rem;
  /*Find a way to center the image horizontally*/
}

.label {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.lable, .formimage {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .label {
  border-color: #ddd;
}

:checked + .label:before {
  content: "✅";
  transform: scale(1);
}

:checked + .label img {
  transform: scale(0.93);
  z-index: -1;
}

.checkboxnone {
  display: none;
}